#
# KTOS:
#
# Liste der abzufragenden Kontonummern
#
KTOS="1234567890 1234567902"
#
# AUTOIMPORT_URL:
#
# Url des firefly-iii-importer zum automatischen Import per HTTP.
#
# AUTOIMPORT_URL="https://importer.your-domain.com/autoupload?secret=xxxxxxx"

# CSV_CONVERT_ARGS="--title --slashsplit --verbose"
