#
# KTOS:
#
# Liste der abzufragenden Kontonummern
#
KTOS="1234567890 1234567902"
#
# DKB_USER:
#
# Benutzer für Login auf DKB-Website
#
DKB_USER="mmustermann"
#
# DKB_CARDIDS:
#
# Letzten 4 Zeichen der Kreditkarten
#
DKB_CARDIDS="1230 2340"
#
# AUTOIMPORT_URL:
#
# Url des firefly-iii-importer zum automatischen Import per HTTP.
#
# AUTOIMPORT_URL="https://importer.your-domain.com/autoupload?secret=xxxxxxx"
