# KTOS: Liste der abzufragenden Kontonummern
KTOS="1234567890 1234567902"
# DKB_USER: Benutzer für Login auf DKB-Website
DKB_USER="mmustermann"
# DKB_CARDID: Letzten 4 Zeichen den Kreditkarte
DKB_CARDID="1234"

